@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px 300px;
  border-left: 1px solid #e1e1e1;
  height: 100vh;
}
.nav-outline {
  padding: 9px 6px;
}
.nav-far-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.input-with-icon {
  border: 1px solid #c5c5c5;
  padding: 6px;
  border-radius: 50px;
}
small.input-icon-text {
  /* display: flex
; */
  margin: 0px 6px;
}
input.search-input {
  border: 0;
  outline: none;

  /* gap: 10px; */
  color: #404040;
}
.nav-far-left h1 {
  font-size: 29px;
  font-weight: 700;
}
.nav-main-tab-container {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 12px 102px;
}
button.nav-active-tab {
  border: 0;
  background: #fff;
  font-weight: 600;
  color: blue;
  cursor: pointer;
  border-bottom: 1px solid blue;
}
button.nav-not-active-tab {
  border: 0;
  background: #fff;
  font-weight: 600;
  color: #404040;
  cursor: pointer;
}
/* Table.css */

.custom-table-wrapper {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  color: #000;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-table thead {
  background-color: #eee;
}

.custom-table th,
.custom-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.custom-table tbody tr:hover {
  background-color: #eee;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #aaa;
  font-style: italic;
}
tr:hover {
  background: #eee;
  cursor: pointer;
}
/* Button Styles */

.create-client-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-client-btn:hover {
  background-color: #eee;
  color: #000;
  border-color: #eee;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.create-client-btn:active {
  transform: scale(0.97);
}
.center-design-container {
  margin: 12px 102px;
}
.custom-table-wrapper {
  max-height: 400px; /* fixed height */
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  text-align: left;
  color: #222;
}

.custom-table thead {
  background-color: #f9f9f9;
  font-weight: 600;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #999;
}

.loading-text {
  padding: 10px;
  text-align: center;
  font-style: italic;
  color: #666;
}
